<div class="row justify-content-md-center m-5">
    <div class="col-md-6">
        <div class="row justify-content-md-center m-4">
            <h2 class="font-weight-bold text-primary">
                Lista de productos
            </h2>
        </div>
        <div class="row justify-content-md-center">
            <table class="table table-stripped table-dark">
                <caption>Lista de Productos</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody id="lista">

                </tbody>
            </table>
        </div>
    </div>
</div>